@charset "UTF-8";
.card-course-item {
  margin-top: 16px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.btn-link {
  white-space: nowrap;
  /* Ngăn chặn nút từ việc xuống dòng */ }

.btn {
  display: inline-block;
  /* Hiển thị nút trên cùng một hàng */ }
